<mat-card class="card" id="card">
    <mat-card-content class="card-content">
      <div>
        <mat-card-header style="margin-left:60px; margin-bottom: 0px;">
          <mat-card-title class="mat-display-1 card-title">Return Book</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <mat-icon class="icon" matPrefix>library_books</mat-icon>          
          <input [(ngModel)]="data.bi_id" #bookId matInput placeholder="Book Copy ID">
        </mat-form-field><br/>
        <button color="primary" (click)='returnBook()' mat-raised-button>Return</button>
      </div>
    </mat-card-content>
</mat-card>
