<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>LibraryManager</h1>
        <span style="margin-left:60px;" class="menu-spacer"></span>
        <div >
            <a mat-button routerLink="add"> Create Member </a>
            <a mat-button routerLink="add"> Add Book </a>
            <a mat-button routerLink="search"> Search Book </a>
            <a mat-button routerLink="search"> Frequent Checkouts </a>

        </div>
        <span class="fill-space"></span>
        <div>
            <a mat-button 
                (click)="logout()"> 
                
                Logout 
                <mat-icon  matPrefix>exit_to_app</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav class="side-nav" #sidenav mode="side" opened role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="checkout"> Checkout Book </a>
            <a mat-list-item routerLink="return"> Return Book </a>
            <a mat-list-item routerLink="contacts"> Current Loans </a>
            <a mat-list-item routerLink="create-contact"> Fines </a>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content">
        <div style="height: 95vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 